@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --primary: #63a9ff;
  --primary-light: #8abefe;
  --dark-gray: #1f1f1f;
  --gray: #c5cbd4;
  --muted: #595959;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--dark-gray);
  color: var(--gray);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.theme {
  background-color: #b8b8b8;
  color: #333;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

/* Navbar */
.navbar {
  background-color: var(--dark-gray);
  color: var(--white);
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #828282;
  font-size: 18px;
  margin: 10px;
}

.navbar a:hover {
  color: var(--primary-light);
}

.navbar .flex {
  justify-content: space-between;
}

.navbar .nav-resume {
  color: var(--primary);
}

.navbar .nav-resume:hover {
  color: var(--primary-light);
}

/* Home */
.home-sec {
  height: 600px;
  padding: 0 100px;
}

.home-sec .toggle-btn {
  padding: 8px 26px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 20px;
  background-color: #b8b8b8;
  color: #333;
  border: 0px solid;
}

.home-sec .toggle-btn-lightmode {
  padding: 8px 26px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 20px;
  background-color: #333;
  color: #b8b8b8;
  border: 0px solid;
}

.home-sec-pad {
  padding-top: 250px;
  text-align: center;
}

.home-sec h1 {
  font-size: 70px;
  font-weight: 500;
}

.home-sec .text-secondary {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 30px;
  color: #717380;
}

.home-sec .icons {
  margin: 20px;
  color: var(--gray);
}

.icons-lightmode {
  margin: 20px;
  color: var(--dark-gray);
}

.home-sec .icons-container {
  margin-top: 20px;
}

.home-sec .icons:hover {
  color: var(--primary-light);
}

/* Projects */
.projects-sec {
  height: 100%;
  padding: 0 100px;
}

.projects-pad {
  margin-top: 145px;
  padding-top: 50px;
}

.projects-sec h1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
}

.projects-sec .proj-img {
  border-radius: 5px 5px 0px 0px;
  width: 250px;
  height: 155px;
}

.proj-img:hover {
  border: 2px solid var(--primary);
}

.grid-container {
  margin-top: 35px;
  margin-bottom: 20px;
}

.grid-container .grid-3 {
  padding: 15px 0px;
}

.proj-card {
  position: relative;
}

/* .proj-container {
  border: none;
}

.proj-container:hover {
  border: 1px solid var(--primary);
} */

.proj-over,
.proj-over-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  width: 250px;
  height: 0;
  transition: 0.5s ease;
}

.proj-card:hover .proj-over {
  border: 2px solid var(--primary-light);
  height: 100%;
}

.proj-bg {
  background-color: #c5cbd4;
  border-radius: 5px;
  width: 250px;
  margin-top: -10px;
  padding: 30px 15px;
}

.proj-bg h1 {
  color: #333;
  font-size: 18px;
}

.proj-bg p {
  color: var(--muted);
  font-size: 10px;
}

.proj-title {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  margin: 20px;
}

.proj-desc {
  color: var(--gray);
  font-size: 10px;
  font-weight: 300;
  text-align: left;
  margin: 20px;
}

/* About Me */
.about-sec {
  height: 500px;
  padding: 0 100px;
  text-align: left;
}

.about-pad {
  margin-top: 275px;
  padding-top: 70px;
}

.about-sec h1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 25px;
}

.about-sec .about-text {
}

.about-sec .skills-list::before {
  content: "\2022";
  color: var(--gray);
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.about-special {
  color: var(--primary-light);
  margin-right: 0.4em;
}

.about-special-lightmode {
  color: #000000;
  margin-right: 0.4em;
}

/* Work */
.work-sec {
  height: 400px;
  padding: 0 100px;
}

.work-pad {
  margin-top: 150px;
  padding-top: 50px;
}

.work-sec h1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
}

.work-sec .work-title {
  margin: 20px 0px;
}

.work-sec .work-desc {
  margin-bottom: 20px;
  color: var(--muted);
}

/* Contact */

.contact-sec {
  margin-top: 275px;
  /* padding: 0 100px; */
  text-align: center;
}

.contact-sec h1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 10px;
}

.contact-sec p {
  margin-left: 15px;
}

.contact-sec .contact-details {
  margin-top: 40px;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px auto;
}

.contact-icon {
  /* margin-bottom: 00px; */
  margin: 5px;
  color: var(--primary);
}

.contact-icon-lightmode {
  margin: 5px;
  color: var(--dark-gray);
}

.contact-icon:hover {
  color: var(--primary-light);
}

.contact-sec .made-with {
  padding-top: 100px;
}

/* Footer */
.footer-sec {
  height: 75px;
}

@media (max-width: 1000px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .home-sec,
  .projects-sec,
  .about-sec,
  .work-sec,
  .contact-sec {
    padding: 0 75px;
  }

  .home-sec h1 {
    font-size: 55px;
  }

  .projects-sec h1,
  .about-sec h1,
  .work-sec h1,
  .contact-sec h1 {
    font-size: 28px;
  }

  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects-sec .proj-img {
    width: 300px;
    height: 205px;
  }
  .proj-over {
    width: 300px;
  }
  .proj-bg {
    width: 300px;
  }
}

@media (max-width: 675px) {
  .home-sec,
  .projects-sec,
  .about-sec,
  .work-sec,
  .contact-sec {
    padding: 0 55px;
  }

  .grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .projects-sec .proj-img {
    width: 525px;
    height: 355px;
  }
  .proj-bg {
    width: 525px;
  }
  .proj-over {
    width: 525px;
  }
}

@media (max-width: 550px) {
  .home-sec,
  .projects-sec,
  .about-sec,
  .work-sec,
  .contact-sec {
    padding: 0 20px;
  }

  .projects-grid {
    margin: 0 auto;
    padding: 0 10;
    max-width: 300px;
  }

  .grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .projects-sec .proj-img {
    width: 350px;
    height: 225px;
  }
  .proj-bg {
    width: 350px;
  }
  .proj-over {
    width: 350px;
  }
}

@media (max-width: 425px) {
  .home-sec {
    /* height: 400px; */
    /* margin-top: 200px; */
    padding: 0 30px;
  }
  .about-pad {
    margin-top: 150px;
  }
  .about-sec {
    /* margin-top: 350px; */
  }
  .home-sec h1 {
    font-size: 40px;
  }

  .projects-sec h1,
  .about-sec h1,
  .work-sec h1,
  .contact-sec h1 {
    font-size: 25px;
  }
  .navbar a {
    color: #fff;
    font-size: 12.5px;
    margin: 5px;
  }
  .navbar .flex {
    justify-content: center;
  }
}

/* Toggle Button */
.checkbox {
  opacity: 0;
  position: absolute;
}

.toggle-li {
  margin-right: 25px;
  padding-top: 5px;
}

.label {
  background-color: var(--dark-gray);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  height: 20px;
  width: 40px;
  transform: scale(1.5);
}

.label-light {
  background-color: var(--gray);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  /* height: 26px;
  width: 50px; */
  height: 20px;
  width: 40px;
  transform: scale(1.5);
}

.ball {
  background-color: var(--gray);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 15px;
  width: 15px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.ball-light {
  background-color: var(--dark-gray);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 0;
  /* height: 22px;
  width: 22px; */
  height: 15px;
  width: 15px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.checkbox:checked + .label-light .ball-light {
  transform: translateX(24px);
}

.fa-moon {
  color: var(--gray);
}

.fa-sun {
  color: var(--dark-gray);
}
