/* Home */
.container {
  /* margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px; */
}

.home_sec {
  height: 600px;
  padding: 0 100px;
}

.home_sec_pad {
  padding-top: 250px;
  text-align: center;
}

.home_sec .text_main {
  font-size: 45px;
  font-weight: 600;
  /* background-color: #8ee4af; */
  /* background-color: var(--primary); */
  background-color: var(--white);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_sec .text_main_light {
  font-size: 85px;
  font-weight: 500;
  background: -webkit-linear-gradient(var(--primary), var(--gray));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_sec .text_secondary {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-weight: 300;
  margin: 0 auto;
  max-width: 450px;
  color: var(--muted);
}

.home_sec .icons {
  margin-right: 20px;
  margin-left: 12px;
  color: var(--muted);
  transition: 0.2s ease-in-out;
}

.icons_lightmode {
  margin: 20px;
  color: var(--muted);
}

.home_sec .icons_container {
  margin-top: 12px;
}

.home_sec .icons_line {
  border-right: 2px solid gray;
  height: 35px;
  position: absolute;
  /* left: 50%; */
}

.home_sec .icons:hover {
  color: var(--primary);
}

/* Media */

@media (max-width: 425px) {
  .home_sec {
    padding: 0 30px;
  }
  .about_pad {
    margin-top: 150px;
  }
  .home_sec .text_main {
    font-size: 40px;
  }
  .home_sec .text_main_light {
    font-size: 40px;
  }

  .home_sec .text_secondary {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
  }

  .projects_sec h1,
  .about_sec h1,
  .work_sec h1,
  .contact_sec h1 {
    font-size: 25px;
  }
  .navbar a {
    color: #fff;
    font-size: 12.5px;
    margin: 5px;
  }
  .navbar .flex {
    justify-content: center;
  }
}
