/* Containers */
.projectsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  position: relative;
  border: 1px solid black;
}

.imgContainer:hover .imgOverlay {
  opacity: 1;
  border: 1px solid #c7493a;
  background-color: rgb(0, 0, 0, 0.5);
}

.img {
  width: 100%;
}
.imgOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.15s ease;
  background-color: rgb(0, 0, 0, 0.9);

  padding: 1.5em;
  text-align: center;
}

.title {
  color: #f4f4f4;
  margin: 2em auto;
  font-size: 1.5em;
  font-weight: 600;
}

.desc {
  font-weight: 500;
  font-size: 0.9em;
  color: #d3d3d3;
}

.btn {
  background: #000;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  padding: 1em 2em;
  /* width: 20%; */
  border: 1px solid #c7493a;
  margin: 2em auto;
}

@media (max-width: 800px) {
  .projectsGrid {
    display: block;
  }
  .imgContainer {
    margin: 2em auto;
  }
  .imgOverlay {
    padding: 0.5em;
  }
  .title {
    font-size: 1.3em;
  }
}
